* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x:  hidden;
}


body {
    background-color: black;
    transition: all 0.3s ease-in-out;
}

#main {
    width: 100vw;
}


html {
    scroll-behavior: smooth;
}


/* -- nav-bar --*/

.nav-bar {
  width: 100vw;
  height: 10vh;
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 25px solid transparent;
}


.nav-bar ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
}


.nav-bar ul li a{
    color: gray;
    text-decoration: none;
}


.nav-bar ul li a:hover{
    color: white;
}


/* -- nav-bar --*/




/* -- Home --*/


#home {
    width: 100vw;
    height: 100vh;
    background-color: black;
}


/* -- project --*/

#project-page {
    width: 100vw;
    height: 100vh;
    background-color: teal;
}


/* -- about --*/

#about-page {
    width: 100vw;
    height: 100vh;
    background-color: pink;
}


/* -- Contact --*/


#contact-page {
    width: 100vw;
    height: 80vh;
    display: inline-block;
    background-color: gray;
}


/* -- Contact --*/
